// Import Colors from pywal
@import '/home/halfarne/.cache/wal/colors.scss';

* { all: unset; }

.bar {
  font-family: Nasalization;
  background-color: $color0;
  color: $foreground;
  padding: 0px 10px;
  font-size: 1.0em;
  border-color: $color11; 
  border-width: 3px;
  border-style: solid;

}
