// Import Colors from pywal
@import '/home/halfarne/.cache/wal/colors.scss';

* { all: unset; }

.bar_class {
  font-family: "Space Mono";
  background-color: $color0;
  color: $foreground;
  padding: 0px 10px;
  font-size: 1.0em;
  font-weight: bold;
  border-color: $color1; 
  border-width: 5px;
  border-style: solid;

}
